<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Testing.Commons.Tests.Configuration.Support.CachingConfigurationSection, Testing.Commons.Tests" requirePermission="false"/>
	</configSections>
	<cachingConfiguration>
		<expirations>
			<!-- invalid "name" attribute value -->
			<expiration name="" value="1" />	
		</expirations>
	</cachingConfiguration>
</configuration>