<?xml version="1.0" encoding="utf-8" ?>
<profile enabled="true" defaultProvider="productionProvider">
	<providers>
		<clear/>
		<add name="productionProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="profiles"/>
		<add name="test" type="Testing.Commons.Web.ProfileTestProvider, Testing.Commons" connectionStringName="profiles"/>
	</providers>
	<properties>
		<add name="Id" type="System.Guid" serializeAs="ProviderSpecific" />

		<add name="AString" type="string" serializeAs="ProviderSpecific" />
		<add name="AnEnum" type="System.Byte" serializeAs="ProviderSpecific" />
		<add name="ANullableDate" type="System.Nullable`1[System.DateTime]" serializeAs="ProviderSpecific" />
		<add name="AnInterval" type="System.timeSpan" serializeAs="ProviderSpecific" />
	</properties>
</profile>