<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Testing.Commons.Tests.Configuration.Support.CachingConfigurationSection, Testing.Commons.Tests" requirePermission="false"/>
	</configSections>
	<cachingConfiguration>
		<expirations>
			<expiration name="expiration1" value="00:00:01" />
			<expiration name="expiration2" value="2" />
		</expirations>
		<dependencies>
			<cache name="cache1">
				<dependantCaches>
					<dependantCache name="cache1_1" />
					<dependantCache name="cache1_2" />
				</dependantCaches>
			</cache>
			<cache name="cache2">
				<dependantCaches>
					<dependantCache name="cache2_1" />
				</dependantCaches>
			</cache>
		</dependencies>
	</cachingConfiguration>
</configuration>