<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Testing.Commons.Tests.Configuration.Support.CachingConfigurationSection, Testing.Commons.Tests" requirePermission="false"/>
	</configSections>
	<!-- missing non-optional expirations collection -->
	<cachingConfiguration />
</configuration>