<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Testing.Commons.Tests.Configuration.Support.CachingConfigurationSection, Testing.Commons.Tests" requirePermission="false"/>
	</configSections>
	<cachingConfiguration>
		<expirations>
			<!-- incorrect type "value" -->
			<expiration name="name" value="No TimeSpan" />	
		</expirations>
	</cachingConfiguration>
</configuration>